PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/splitngo
JWT_SECRET=03071992
JWT_EXPIRES_IN=7d
CLIENT_ORIGIN=http://localhost:5173

VITE_API_BASE_URL=
VITE_GOOGLE_CLIENT_ID=369539939489-bpn0rqp9dh6khqkda79dkoj78qtfsocr.apps.googleusercontent.com
VITE_GOOGLE_REDIRECT_URI=http://localhost:5173
VITE_FIREBASE_API_KEY=AIzaSyBnflHR8LaJ6ImaJuMskqohCxO528c2y7E
VITE_FIREBASE_AUTH_DOMAIN=splitngo-6a657.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=
VITE_FIREBASE_PROJECT_ID=splitngo-6a657
VITE_FIREBASE_STORAGE_BUCKET=splitngo-6a657.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=259586598111
VITE_FIREBASE_APP_ID=1:259586598111:web:db5744544ae4ba2aa3b56a
OPENAI_API_KEY=
OPENAI_SUPPORT_MODEL=gpt-4.1-mini

PORT=5000
